framework: netstandard2.0, net471, netcoreapp2.0
source https://api.nuget.org/v3/index.json
source https://vrvis.myget.org/F/aardvark_public/api/v3/index.json
source https://vrvis.myget.org/F/aardvark/api/v3/index.json

nuget Aardvark.Base                    ~> 4.0.12
nuget Aardvark.Base.Incremental        ~> 4.0.12
nuget Aardvark.Base.FSharp             ~> 4.0.12
nuget Aardvark.Base.Essentials         ~> 4.0.12

nuget FShade.Debug					   ~> 4.0.2
                                       
nuget Aardvark.Base.Rendering          ~> 4.1.7
nuget Aardvark.Application.WinForms.GL ~> 4.1.7
nuget Aardvark.SceneGraph              ~> 4.1.7
nuget Aardvark.SceneGraph.IO           ~> 4.1.7
nuget Aardvark.Rendering.Text          ~> 4.1.7
                                       
nuget Aardvark.Data.Photometry		   ~> 4.0.4
 
nuget Aardvark.UI            ~> 4.0.6
nuget Aardvark.UI.Primitives ~> 4.0.6
nuget Aardvark.Service       ~> 4.0.6
nuget Aardvark.Cef.WinForms  ~> 4.0.6
nuget Aardvark.Cef           ~> 4.0.6

nuget Another.Unofficial.Xilium.CefGlue ~> 0.1.0
nuget Another.Unofficial.Xilium.CefGlue.UnpackNativeDependencies ~> 0.1.0
nuget Another.Unofficial.Xilium.CefGlue.WindowsForms ~> 0.1.0

nuget NUnit ~> 3.10.1
nuget NUnit3TestAdapter ~> 3.10.0 
nuget FsUnit  ~> 3.1.0

group Build
framework: net471
content: none
source https://vrvis.myget.org/F/aardvark_public/api/v3/index.json
source https://api.nuget.org/v3/index.json

github aardvark-platform/aardvark.fake:v4
